.DS_Store
*.pyc
Rakefile

*.aux
*.log
*.out
*.mexmaci64


# Ignore all files in directory
# media/ <- this would ignore the media dir
media/archive
media/misc
media/ASMR

# Ignore temporary MATLAB files
*.m~
